@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

@theme {
    /* https://pxhere.com/en/photo/1405958 */
    --background-image-hero-pattern: url("/hero-bg.png");

    --color-meteofr-blue: #073D79;
}

@layer base {
    body {
        font-family: "DM Sans", serif;
        font-optical-sizing: auto;
        background: linear-gradient(to right, #0E0E0E, #101010);
    }
}

@layer components {
    .pattern {
        @apply bg-hero-pattern w-full h-screen bg-center bg-cover absolute z-0;
    }
    
    .wrapper {
        @apply px-5 py-12 max-w-7xl mx-auto flex flex-col relative z-10;
    }

    
}

@layer utilities {
    .text-gradient {
        /* @apply bg-linear-to-r from-[#6A7A97] via-[#DFEEFA] to-[#6A7A97] bg-clip-text text-transparent; */
        /* @apply bg-linear-to-r from-[#EAEAEA] via-[#A0A0A0] to-[#EAEAEA] bg-clip-text text-transparent; */
        @apply bg-linear-to-r from-meteofr-blue via-[#EEEEEE] to-meteofr-blue bg-clip-text text-transparent;
    }
}
